/* Media Queries*/

/* FOR decvices from 769px and above  */
@media screen and (min-width: 53.1em) {
  .landing_page {
    background-color: var(--violet);
    background-image: url(../images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-position: -45px center;
    background-size: contain;
  }

  .container {
    max-width: 130rem;
  }

  .grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    align-items: center;
  }

  .section_title {
    max-width: 44rem;
  }

  .section_description {
    max-width: 49rem;
  }

  .text_box {
    text-align: start;
    margin-top: 0;
  }

  .icon_list {
    justify-content: flex-end;
  }
}
